<div class="container">
  <div class="container text-center mt-5" *ngIf="isLoading">
    <div class="loader">Loading...</div>
  </div>
  <div *ngIf="!isLoading">
    <img class="img-thumbnail w-100" src="{{ missionData.missionpicture}}">
    <div class="row mt-4">
      <div class="col-md-9">
        <h3>
          <a href="#" [routerLink]="['/mission/introduce']" [queryParams]="{ id : missionData.id }">{{ missionData.missionname }}</a>
        </h3>
      </div>
      <div class="col-md-3 text-right">
        <div class="h5">
          <span class="p-2 mr-1 mt-1 typetext" [ngClass]="{
                        'btn-orange': missionData.missiontype == '影片任務',
                        'btn-purple': missionData.missiontype == '旅遊任務',
                        'btn-green': missionData.missiontype == '環保任務',
                        'btn-sky': missionData.missiontype == '運動任務',
                        'btn-red': missionData.missiontype == '美術任務',
                        'btn-blue': missionData.missiontype == '展演任務'
                      }">{{ missionData.missiontype }}</span>
          <span class="badge badge-danger p-2 mr-1 mt-1">{{ missionData.missionpoint }} 點</span>
          <span class="badge p-2 mr-1 mt-1" [ngClass]=" {
                        'badge-info': missionDetail.status == '已參加',
                        'badge-primary': missionDetail.status == '已提交',
                        'badge-danger': missionDetail.status == '已退回',
                        'badge-success': missionDetail.status == '已審核',
                        'badge-warning': missionDetail.status == '已發送'
                      }">{{ missionDetail.status }}</span>
        </div>
      </div>
    </div>
    <hr>
    <div *ngIf="userPermission.expverify" class="row mt-4">
      <div *ngIf="missionDetail.status == '已提交'" class="col-sm-3 col-lg-2 form-group">
        <button class="btn btn-lg btn-success form-control" type="button" (click)="dialogPass.show()">
          <i class="fa fa-check-circle mr-2" aria-hidden="true"></i>心得核准</button>
      </div>
      <div *ngIf="missionDetail.status == '已提交'" class="col-sm-3 col-lg-2 form-group">
        <!-- <button class="btn btn-lg btn-secondary form-control" type="button" (click)="dialogReject.show()"> -->
        <button class="btn btn-lg btn-secondary form-control" type="button" data-toggle="modal" data-target="#returnReason">
          <i class="fa fa-times-circle mr-2" aria-hidden="true"></i>心得退回</button>
      </div>
      <div *ngIf="missionDetail.status == '已退回'" class="col-sm-3 col-lg-2 form-group">
        <button class="btn btn-lg btn-secondary form-control" type="button" (click)="dialogRevert.show()">
          <i class="fa fa-times-circle mr-2" aria-hidden="true"></i>還原待審</button>
      </div>
      <div class="col-sm-3 col-lg-2 form-group" [ngClass]="{ 'offset-lg-8': missionDetail.status == '已退回', 'offset-lg-6': missionDetail.status == '已提交', 'offset-lg-10': missionDetail.status == '已審核' }">
        <button class="btn btn-lg btn-info form-control" type="button" [routerLink]="['/user/expmanagement']" [queryParams]="{ tab : 1 }">
          <i class="fa fa-arrow-circle-left mr-2" aria-hidden="true"></i>返回列表</button>
      </div>
    </div>
    <!-- 學生 -->
    <div *ngIf="(((missionDetail.status == '已提交' && missionDetail.returnexp) || missionDetail.status == '已審核' || missionDetail.status == '已退回' )  && userData.logingroup === 1)"
      class="row mt-3 mb-5">
      <div class="col-md-12">
        <h4>老師評語</h4>
      </div>
      <div class="col-md-6">
        <span>
          <i class="fa fa-file-text-o mr-2" aria-hidden="true"></i>任務評語</span>
      </div>
      <div class="col-md-6">
        <span>
          <i class="fa fa-undo" aria-hidden="true" *ngIf="missionDetail.returnexp"></i>退回原因</span>
      </div>
      <div *ngIf="!missionDetail.verifyexp" class="col-md-6">
        <span class="verifyexp-txt">老師未給予評語</span>
      </div>
      <div *ngIf="missionDetail.verifyexp" class="mt-2 col-md-6">
        <textarea class="form-control verifyexp" cols="30" rows="6" [readonly]="true" [(ngModel)]="missionDetail.verifyexp"></textarea>
      </div>
      <div class="col-md-6 mt-2" *ngIf="missionDetail.returnexp">
        <div class="returnbox">
          <ul class="w-100">
            <li class="returnReason w-100" *ngFor="let missionDetail of returnexplist;let i = index">
              <div class="row mt-1">
                <div>
                  <span class="badge badge-danger ml-4 mr-1 returntxt">{{missionDetail.returnusername}}：</span>
                </div>
                <div class="col-md-9 pr-0 returntxt">{{missionDetail.returnexp}}
                  <span class="returnReason-date">({{missionDetail.returntime}})</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- 老師 -->
    <div *ngIf="userData.logingroup === 2 ||  userData.logingroup === 3" class="row mt-3 mb-3">
      <div class="col-md-12">
        <h4>老師評語</h4>
      </div>
      <div class="col-md-6">
        <span>
          <i class="fa fa-file-text-o mr-2" aria-hidden="true"></i>任務評語(可填寫也可不填寫)</span>
      </div>
      <div class="col-md-6">
        <span>
          <i class="fa fa-undo" aria-hidden="true"></i>退回原因</span>
      </div>
      <div class="mt-2 col-md-6">
        <textarea class="form-control" cols="30" rows="6" [readonly]="!(missionDetail.status === '已提交')" [(ngModel)]="missionDetail.verifyexp"></textarea>
      </div>
      <div class="mt-2 col-md-6">
        <div class="returnbox">
          <ul class="w-100">
            <li>
              <h4 class="text-gray" *ngIf="!missionDetail.returnexp">無退回紀錄</h4>
            </li>
            <li class="returnReason w-100" *ngFor="let missionDetail of returnexplist;let i =index">
              <div class="row mt-1">
                <div>
                  <span class="badge badge-danger ml-4 returntxt mr-1">{{ missionDetail.returnusername }}：</span>
                </div>
                <div class="col-md-9 pr-0 returntxt">{{ missionDetail.returnexp }}
                  <span class="returnReason-date">({{ missionDetail.returntime }})</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div *ngIf="missionData.missiontype == '展演任務'">
          <div class="form-group text-gray">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <label>參展地點</label>
            <span class="text-danger">*</span>
            <input type="text" class="form-control" placeholder="請輸入地點" [value]="missionData.missionlocation" readonly>
          </div>
          <div class="form-group text-gray">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <label>參展日期</label>
            <span class="text-danger">*</span>
            <input *ngIf="( !missionEditMode || userPermission.exponlyread ) && missionDetail.executedate" class="form-control" type="text"
              [value]="viewtime" readonly>
            <my-date-picker [hidden]="!missionEditMode || userPermission.exponlyread" [ngClass]="missionDetail.executedate ? 'is-valid' : 'is-invalid'"
              placeholder="請輸入參展日期" [options]="myDatePickerOptions" [(ngModel)]="missionDetail.executedate" required></my-date-picker>
          </div>
          <div class="form-group text-gray">
            <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
            <label>心得感想</label>
            <span class="text-danger">*</span>
            <textarea class="form-control" rows="6" placeholder="請輸入心得感想" [(ngModel)]="missionDetail.experience" [ngClass]="missionDetail.experience ? 'is-valid' : 'is-invalid'"
              [readonly]="!missionEditMode || userPermission.exponlyread"></textarea>
          </div>
        </div>
        <div *ngIf="missionData.missiontype == '環保任務'">
          <div class="form-group text-gray">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <label>環保地點</label>
            <span class="text-danger">*</span>
            <div class="row">
              <div class="col-md-3 mt-2" *ngIf="missionDetail.status !=='已審核'  && !StudentEdit ">
<select name="city" [(ngModel)]="city" (click)="selectCity()" class="form-control custom-select" [disabled]="!missionEditMode || userPermission.exponlyread">

                  <option value="">縣市</option>
                  <option *ngFor="let item of cityArea">{{item}}</option>
                </select>
              </div>
              <div class="col-md-3 mt-2" *ngIf="missionDetail.status ==='已審核'  || StudentEdit ">
                <input type="text" class="form-control" [value]="city" [readonly]="!missionEditMode || userPermission.exponlyread">
              </div>
              <div class="col-md-3 mt-2" *ngIf="missionDetail.status !=='已審核'  && !StudentEdit ">
<select name="dist" [(ngModel)]="dist" class="form-control custom-select" [disabled]="!missionEditMode || userPermission.exponlyread">

                  <option value="">地區</option>
                  <option *ngFor="let item of distList">{{item}}</option>
                </select>
              </div>
              <div class="col-md-3 mt-2" *ngIf="missionDetail.status ==='已審核'  || StudentEdit ">
                <input type="text" class="form-control" [value]="dist" [readonly]="!missionEditMode || userPermission.exponlyread">
              </div>
              <div class="col-md-6 mt-2" *ngIf="missionDetail.status !=='已審核'  && !StudentEdit ">
                <input type="text" class="form-control" [ngClass]="road ? 'is-valid' : 'is-invalid'" placeholder="請輸入地點" [(ngModel)]="road" [readonly]="!missionEditMode || userPermission.exponlyread">
              </div>
              <div class="col-md-6 mt-2" *ngIf="missionDetail.status ==='已審核'  || StudentEdit ">
                <input type="text" class="form-control" [value]="road" [readonly]="!missionEditMode || userPermission.exponlyread">
              </div>
            </div>
          </div>
          <div class="form-group text-gray">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <label>環保日期</label>
            <span class="text-danger">*</span>
            <input *ngIf="( !missionEditMode || userPermission.exponlyread ) && missionDetail.executedate" class="form-control" type="text"
              [value]="viewtime" readonly>
            <my-date-picker [hidden]="!missionEditMode || userPermission.exponlyread" [options]="myDatePickerOptions" placeholder="請輸入環保日期"
              [(ngModel)]="missionDetail.executedate" required></my-date-picker>
          </div>
          <div class="form-group text-gray">
            <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
            <label>心得感想</label>
            <span class="text-danger">*</span>
            <textarea class="form-control" rows="6" placeholder="請輸入心得感想" [ngClass]="missionDetail.experience ? 'is-valid' : 'is-invalid'"
              [(ngModel)]="missionDetail.experience" [readonly]="!missionEditMode || userPermission.exponlyread"></textarea>
          </div>
        </div>
        <div *ngIf="missionData.missiontype == '美術任務'">
          <div class="form-group text-gray">
            <i class="fa fa-user" aria-hidden="true"></i>
            <label>作品類別</label>
            <span class="text-danger">*</span>
            <div class="form-group">
              <div *ngIf="!missionEditMode || userPermission.exponlyread">
                <span class="badge badge-info p-2 mr-2" *ngIf="expType['painted']">彩繪</span>

                <span class="badge badge-info p-2 mr-2" *ngIf="expType['carving']">雕刻</span>

                <span class="badge badge-info p-2 mr-2" *ngIf="expType['grinding']">捏塑</span>

                <span class="badge badge-info p-2 mr-2" *ngIf="expType['graphic']">平面設計</span>

                <span class="badge badge-info p-2 mr-2" *ngIf="expType['solid']">立體設計</span>

                <!-- <span class="badge badge-info p-2 mr-2" *ngIf="expType['自行輸入']">{{expType['自行輸入'].text}}</span> -->
              </div>
              <div *ngIf="missionEditMode && userPermission.expwrite">
                <label class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" value="painted" [checked]="expType['painted']" (change)="expType[$event.target.value] = $event.target.checked">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">彩繪</span>
                </label>
                <label class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" value="carving" [checked]="expType['carving']" (change)="expType[$event.target.value] = $event.target.checked">


                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">雕刻</span>
                </label>
                <label class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" value="grinding" [checked]="expType['grinding']" (change)="expType[$event.target.value] = $event.target.checked">

                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">捏塑</span>
                </label>
                <label class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" value="graphic" [checked]="expType['graphic']" (change)="expType[$event.target.value] = $event.target.checked">


                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">平面設計</span>
                </label>
                <label class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" value="solid" [checked]="expType['solid']" (change)="expType[$event.target.value] = $event.target.checked">


                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">立體設計</span>
                </label>
                <!-- <label class="custom-control custom-checkbox ">
                  <input class="custom-control-input " type="checkbox" value="自行輸入" [checked]="importtype">
                  <span class="custom-control-indicator "></span>
                  <input class="custom-control-description" (click)="typeclick()" placeholder="自行輸入" [(ngModel)]="importtext">
                </label> -->
              </div>
            </div>
          </div>
          <div class="form-group text-gray">
            <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
            <label>心得感想</label>
            <span class="text-danger">*</span>
            <textarea class="form-control" rows="6" placeholder="請輸入心得感想" [ngClass]="missionDetail.experience ? 'is-valid' : 'is-invalid'"
              [(ngModel)]="missionDetail.experience" [readonly]="!missionEditMode || userPermission.exponlyread"></textarea>
          </div>
        </div>
        <div *ngIf="missionData.missiontype == '運動任務'">
          <div class="form-group text-gray">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <label>運動場域</label>
            <span class="text-danger">*</span>
            <div class="row">
              <div class="col-md-3 mt-2" *ngIf="missionDetail.status !=='已審核' && !StudentEdit">
<select name="city " [(ngModel)]="city" (click)="selectCity()" class="form-control custom-select " [disabled]="!missionEditMode || userPermission.exponlyread">

                  <option value="">縣市</option>
                  <option *ngFor="let item of cityArea ">{{item}}</option>
                </select>
              </div>
              <div class="col-md-3 mt-2 " *ngIf="missionDetail.status ==='已審核' || StudentEdit ">
                <input type="text " class="form-control " [value]="city" [readonly]="!missionEditMode || userPermission.exponlyread ">
              </div>
              <div class="col-md-3 mt-2 " *ngIf="missionDetail.status !=='已審核' && !StudentEdit">
<select name="dist " [(ngModel)]="dist" class="form-control custom-select " [disabled]="!missionEditMode || userPermission.exponlyread">

                  <option value="">地區</option>
                  <option *ngFor="let item of distList ">{{item}}</option>
                </select>
              </div>
              <div class="col-md-3 mt-2 " *ngIf="missionDetail.status ==='已審核' || StudentEdit">
                <input type="text " class="form-control " [value]="dist" [readonly]="!missionEditMode || userPermission.exponlyread">
              </div>
              <div class="col-md-6 mt-2" *ngIf="missionDetail.status !=='已審核' && !StudentEdit">
                <input type="text " class="form-control " [ngClass]="road ? 'is-valid' : 'is-invalid'" placeholder="請輸入地點" [(ngModel)]="road " [readonly]="!missionEditMode || userPermission.exponlyread">
              </div>
              <div class="col-md-6 mt-2 " *ngIf="missionDetail.status ==='已審核' || StudentEdit  ">
                <input type="text " class="form-control " [value]="road" [readonly]="!missionEditMode || userPermission.exponlyread ">
              </div>
            </div>
          </div>
          <div class="form-group text-gray">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <label>運動日期</label>
            <span class="text-danger">*</span>
            <input *ngIf="( !missionEditMode || userPermission.exponlyread ) && missionDetail.executedate" class="form-control" type="text"
              [value]="viewtime" readonly>
            <my-date-picker [hidden]="!missionEditMode || userPermission.exponlyread" placeholder="請輸入運動日期" [options]="myDatePickerOptions"
              [(ngModel)]="missionDetail.executedate" required></my-date-picker>
            <i class="fa fa-sticky-note-o " aria-hidden="true "></i>
            <label>心得感想</label>
            <span class="text-danger ">*</span>
            <textarea class="form-control exp-overflow " rows="6 " placeholder="請輸入心得感想 " [ngClass]="missionDetail.experience ? 'is-valid' : 'is-invalid' "
              [(ngModel)]="missionDetail.experience " [readonly]="!missionEditMode || userPermission.exponlyread "></textarea>
          </div>
        </div>
        <div *ngIf="missionData.missiontype == '旅遊任務'">
          <div class="form-group text-gray">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <label>旅遊地點</label>

            <span class="text-danger">*</span>
            <div class="row">
              <div class="col-md-3 mt-2" *ngIf="missionDetail.status !=='已審核' && !StudentEdit">
                <select name="city" [(ngModel)]="city" (click)="selectCity()" class="form-control custom-select" [disabled]="!missionEditMode || userPermission.exponlyread">

                  <option value="">縣市</option>
                  <option *ngFor="let item of cityArea">{{item}}</option>
                </select>
              </div>
              <div class="col-md-3 mt-2" *ngIf="missionDetail.status ==='已審核' || StudentEdit">
                <input type="text " class="form-control " [value]="city" [readonly]="!missionEditMode || userPermission.exponlyread ">
              </div>
              <div class="col-md-3 mt-2" *ngIf="missionDetail.status !=='已審核' && !StudentEdit">
                <select name="dist" [(ngModel)]="dist" class="form-control custom-select" [disabled]="!missionEditMode || userPermission.exponlyread">

                  <option value="">地區</option>
                  <option *ngFor="let item of distList">{{item}}</option>
                </select>
              </div>
              <div class="col-md-3 mt-2" *ngIf="missionDetail.status ==='已審核'|| StudentEdit">
                <input type="text " class="form-control " [value]="dist" [readonly]="!missionEditMode || userPermission.exponlyread ">
              </div>
              <div class="col-md-6 mt-2" *ngIf="missionDetail.status !=='已審核' && !StudentEdit">
                <input type="text " class="form-control " [ngClass]="road ? 'is-valid' : 'is-invalid'" placeholder="請輸入地點 " [(ngModel)]="road "
                  [readonly]="!missionEditMode || userPermission.exponlyread ">
              </div>
              <div class="col-md-6 mt-2" *ngIf="missionDetail.status ==='已審核'|| StudentEdit">
                <input type="text " class="form-control " [value]="road" [readonly]="!missionEditMode || userPermission.exponlyread ">
              </div>
            </div>
          </div>
          <div class="form-group text-gray">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <label>旅遊日期</label>
            <span class="text-danger">*</span>
            <input *ngIf="( !missionEditMode || userPermission.exponlyread ) && missionDetail.executedate" class="form-control" type="text"
              [value]="viewtime" readonly>

            <my-date-picker [hidden]="!missionEditMode || userPermission.exponlyread" placeholder="請輸入旅遊日期" [options]="myDatePickerOptions"
              [(ngModel)]="missionDetail.executedate" required></my-date-picker>
          </div>
          <div class="form-group text-gray">
            <i class="fa fa-user" aria-hidden="true"></i>
            <label>隨行成員</label>
            <!-- <span class="text-danger">*</span> -->
            <div class="form-group">
              <div *ngIf="!missionEditMode || userPermission.exponlyread">
                <span *ngIf="expMember['family']" class="badge badge-info p-2 mr-2">家人</span>
                <span *ngIf="expMember['friend']" class="badge badge-info p-2 mr-2">朋友</span>
                <span *ngIf="!expMember['family'] && !expMember['friend'] " class="badge badge-info p-2 mr-2">無</span>
              </div>
              <div *ngIf="missionEditMode && userPermission.expwrite">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" value="family" [checked]="expMember['family']" (change)="expMember[$event.target.value] = $event.target.checked">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">家人</span>
                </label>
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" value="friend" [checked]="expMember['friend']" (change)="expMember[$event.target.value] = $event.target.checked">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">朋友</span>
                </label>
                <!-- <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" value="無" [checked]="expMember['無']" (change)="expMember[$event.target.value] = $event.target.checked">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">無</span>
                </label> -->
              </div>
            </div>
          </div>
          <div class="form-group text-gray">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <label>費用估計</label>
            <span class="text-danger">*</span>
            <input type="number" class="form-control" [ngClass]="expCost ? 'is-valid' : 'is-invalid'" placeholder="自行輸入" [(ngModel)]="expCost"
              min="0" max="100000" [readonly]="!missionEditMode || userPermission.exponlyread">
          </div>
          <div class="form-group text-gray">
            <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
            <label>心得感想</label>
            <span class="text-danger">*</span>
            <textarea class="form-control" rows="6" placeholder="請輸入心得感想" [ngClass]="missionDetail.experience ? 'is-valid' : 'is-invalid'"
              [(ngModel)]="missionDetail.experience" [readonly]="!missionEditMode || userPermission.exponlyread"></textarea>
          </div>
        </div>
        <div *ngIf="missionData.missiontype == '影片任務'">
          <div class="form-group text-gray">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <label>觀看日期</label>
            <span class="text-danger">*</span>
            <input *ngIf="( !missionEditMode || userPermission.exponlyread ) && missionDetail.executedate" class="form-control" type="text"
              [value]="viewtime" readonly>


            <my-date-picker [hidden]="!missionEditMode || userPermission.exponlyread" [options]="myDatePickerOptions" placeholder="請輸入觀看日期"
              [(ngModel)]="missionDetail.executedate" required></my-date-picker>
          </div>
          <div class="form-group text-gray">
            <i class="fa fa-pencil-square" aria-hidden="true"></i>
            <label>心得感想</label>
            <span class="text-danger">*</span>
            <textarea class="form-control vedio-height" rows="6" [ngClass]="missionDetail.experience ? 'is-valid' : 'is-invalid'" placeholder="請填寫心得感想"
              [(ngModel)]="this.missionDetail.experience" [readonly]="!missionEditMode || userPermission.exponlyread"></textarea>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div *ngIf="missionData.missiontype !== '影片任務'">
          <div class="form-group text-gray">
            <div *ngIf="missionEditMode && userPermission.expwrite" class="mb-3">
              <i class="fa fa-photo" aria-hidden="true"></i>
              <label>照片上傳（可拖曳圖片至內容處）</label>
              <span class="text-danger">*</span>
              <p-fileUpload #fileUpload name="photoFile[]" multiple="multiple" accept="image/*" [customUpload]="true" [showUploadButton]="false"
                (onSelect)="uploadHandler(fileUpload)" (onRemove)="removeHandler(fileUpload)" (onClear)="removeHandler(fileUpload)"></p-fileUpload>
            </div>
            <div id="imageall" *ngIf="userPermission.exponlyread || missionPhotoList.length > 0">
              <i class="fa fa-photo" aria-hidden="true"></i>
              <label>照片預覽</label>
              <div class="image mt-4" *ngFor="let pic of picture; let i = index">
                <img *ngIf="pic" class="images img-thumbnail d-block mb-2 " [src]="pic">
                <i *ngIf="pic && missionEditMode" class="cancel fa fa-times fa-2x " aria-hidden="true" (click)="photodelete(i,$event)"></i>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="missionData.missiontype == '影片任務'">
          <div class="form-group text-gray">
            <i class="fa fa-eye" aria-hidden="true"></i>
            <label>影片預覽</label>
            <span class="text-danger">*</span>
            <div *ngIf="!isYoutube" class="container text-center mt-5">
              <i class="fa fa-spinner fa-spin fa-5x" aria-hidden="true"></i>
            </div>
            <div *ngIf="isYoutube" class="form-control embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" [src]="videoUrlFrm" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="missionEditMode && userPermission.expwrite" class="form-group">
      <button type="button" class="btn btn-info form-control" (click)="photoUpload() && userData['username']">提交心得</button>
    </div>
  </div>
</div>


<form id="form1">
  <div id="returnReason" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="returnReason" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content pl-2 pr-2">
        <div class="modal-header">
          <h5>
            <i class="fa fa-undo mr-2" aria-hidden="true"></i>任務退回</h5>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <h6>請輸入退回原因：</h6>
            <input type="text" class="form-control" placeholder="在這裡輸入" [(ngModel)]="returntext" name="exp">
          </div>
        </div>

        <div class="modal-footer w-100">
          <button type="submit" class="btn btn-primary mr-3 send" (click)="RejectMission(missionDetail.missionid, missionDetail.studentusername)">送出</button>
          <button #modelClose type="submit" class="btn btn-secondary  send" data-dismiss="modal">取消</button>
        </div>
      </div>
    </div>
  </div>
  <swal #dialogErrorCheck title="資料沒有填完整唷！" type="error"> </swal>
  <swal type="question" title="確定要退回？" #dialogReject [options]="{ showCancelButton: 'true',timer : '1000' }"></swal>
  <swal type="success" title="已退回心得" #dialogRejectSuccess [options]="{ timer : '1000' }"></swal>
</form>
<swal #dialogSuccess title="更新成功！" type="success" [options]="{ timer : '1000' }"></swal>
<swal #dialogError title="更新失敗！" type="error" [options]="{ timer : '1000' }"></swal>
<swal #dialogErrorCheck title="資料沒有填完整唷！" type="error"> </swal>

<swal type="question" title="確定要通過？" #dialogPass [options]="{ showCancelButton: 'true' }" (confirm)="PassMission(missionDetail.missionid, missionDetail.studentusername, missionDetail.verifyexp)"></swal>
<swal type="success" title="已審核完成" #dialogPassSuccess [options]="{ timer : '1000' }"></swal>
<swal type="question" title="確定要退回？" #dialogReject [options]="{ showCancelButton: 'true' }" (confirm)="RejectMission(missionDetail.missionid, missionDetail.studentusername)"></swal>
<swal type="success" title="已退回心得" #dialogRejectSuccess [options]="{ timer : '1000' }"></swal>
<swal type="question" title="要還原成待審？" #dialogRevert [options]="{ showCancelButton: 'true' }" (confirm)="RevertMission(missionDetail.missionid, missionDetail.studentusername)"></swal>
<swal type="success" title="已還原完成" #dialogRevertSuccess [options]="{ timer : '1000' }"></swal>
<swal type="error" title="審核錯誤，請洽系統管理員" #dialogPassError [options]="{ timer : '1000' }"></swal>
<swal type="error" title="登入逾時，請重新登入" #dialogPassError2 [options]="{ timer : '1000' }"></swal>
<swal type="error" title="退回錯誤，請洽系統管理員" #dialogRejectError [options]="{ timer : '1000' }"></swal>
<swal type="error" title="還原錯誤，請洽系統管理員" #dialogRevertError [options]="{ timer : '1000' }"></swal>
