<div id="home" class="pb-4">

  <!-- 輪播圖 -->
  <div class="container text-center" *ngIf="!isLoading && iscarousel">
    <div id="carouselSlider" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselSlider" class="active" [attr.data-slide-to]="i" *ngFor="let carousels of carouseldata | slice:0:1 ;let i =index"
          data-target="#carouselSlider"></li>
        <li data-target="#carouselSlider" [attr.data-slide-to]="i+1" *ngFor="let carousels of carouseldata | slice:1:carouseldata.length  ;let i =index"
          data-target="#carouselSlider"></li>
      </ol>

      <div class="carousel-inner ">
        <div class="carousel-item active" *ngFor="let carousels of carouseldata | slice:0:1 ;let i =index">
          <a href="{{carousels.picturelink}}" target="_blank">
            <img src="{{carousels.pictureurl}}" class="img-set" data-id="{{i}}" alt="{{carousels.picturecontent}}" title="{{carousels.picturecontent}}">
          </a>
        </div>
        <div class="carousel-item" *ngFor="let carousels of carouseldata | slice:1:carouseldata.length ;let i =index">
          <a href="{{carousels.picturelink}}" target="_blank">
            <img src="{{carousels.pictureurl}}" class="img-set" data-id="{{i+1}}" alt="{{carousels.picturecontent}}" title="{{carousels.picturecontent}}">
          </a>
        </div>
      </div>
      <a class="carousel-control-prev " href="#carouselSlider" role="button" data-slide="prev">
        <div class="carousel-radio">
          <span class="carousel-control-prev-icon mt-2 control-size" aria-hidden="true"></span>
        </div>
      </a>
      <a class="carousel-control-next " href="#carouselSlider" role="button" data-slide="next">
        <div class="carousel-radio">
          <span class="carousel-control-next-icon control-size mt-2" aria-hidden="true"></span>
        </div>
      </a>
    </div>
  </div>
  <div class="container text-center mt-5" *ngIf="loadingFalse">
    <div class="col-md-12 row justify-content-center">
      <div class="col-md-3 text-center">
        <span class="data-set">
          <i class="fa fa-search" aria-hidden="true"></i>查無結果</span>
      </div>
    </div>
  </div>

  <!-- 載入中動畫 -->
  <div class="container text-center" *ngIf="isLoading">
    <!-- <i class="fa fa-spinner fa-spin fa-5x" aria-hidden="true"></i> -->
    <div class="loader">Loading...</div>
  </div>

  <div class="mission title-margintop" *ngIf="!isLoading && !loadingFalse">
    <div *ngFor="let Type of missionType">
      <!--第一排-->
      <div *ngIf="Type.id === 1">
        <div class="container ">
          <div class="row flex">
            <div class="col-md-10">
              <a class="title-titletext  btn-blue" [routerLink]="['/search']" [queryParams]="{ type:Type.id }">{{Type.missiontype}}</a>
            </div>
            <div class="col-md-2 text-right  pt-4">
              <a class="title-text " [routerLink]="['/search']" [queryParams]="{ type:Type.id }">More...</a>
            </div>
          </div>
          <div class="row">
            <!--第一排左邊圖片-->
            <div class="col-md-6">
              <div class="card card-main  card-top" *ngFor="let mission of missions[Type.id-1] | slice:0:1 ; let i= index">
                <!--missions[1-1]，slice:0:1抓取陣列第一筆資料-->
                <a [routerLink]="['../mission/introduce']" [queryParams]="{id:mission.id}" target="_blank">
                  <img class="img-main" src="{{mission.missionpicture}}">
                </a>
                <div class="card-block">
                  <a [routerLink]="['../mission/introduce']" [queryParams]="{id:mission.id}" target="_blank">
                    <h5 class="card-title">{{mission.missionname}}</h5>
                  </a>
                  <div class="card-text">
                    <p>開始日期：{{mission.missionstartdate | date: 'yyyy/MM/dd'}}</p>
                    <p>結束日期：{{mission.missionfinaldate | date: 'yyyy/MM/dd'}}</p>
                    <span>地區：{{mission.missionlocation}}</span>
                    <span>{{mission.missioncontent}}</span>
                  </div>
                </div>
                <div class="card-footer">
                  <a class="btn btn-info form-control" [routerLink]="['../mission/introduce']" [queryParams]="{id:mission.id}" target="_blank">了解詳情</a>
                </div>

              </div>
            </div>
            <!--第一排右邊圖片-->
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6" *ngFor="let mission of missions[Type.id-1] | slice:1:3 ; let i = index">
                  <div class="card card-top" *ngIf="i<=1">
                    <a [routerLink]="['../mission/introduce']" [queryParams]="{id:mission.id}" target="_blank">
                      <img class="img-thumbnail d-block" src="{{mission.missionpicture}}">
                    </a>
                    <div class="card-block">
                      <a [routerLink]="['../mission/introduce']" [queryParams]="{id:mission.id}" target="_blank">
                        <h6 class="card-title card-text">{{mission.missionname}}</h6>
                      </a>
                      <div class="card-text">
                        <p>開始日期：{{mission.missionstartdate | date: 'yyyy/MM/dd'}}</p>
                        <span>{{mission.missioncontent}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-md-6" *ngFor="let mission of missions[Type.id-1] | slice:3:5 ; let i = index">
                  <div class="card card-top" *ngIf="i<=1">
                    <a [routerLink]="['../mission/introduce']" [queryParams]="{id:mission.id}" target="_blank">
                      <img class="img-thumbnail d-block" src="{{mission.missionpicture}}">
                    </a>
                    <div class="card-block">
                      <a [routerLink]="['../mission/introduce']" [queryParams]="{id:mission.id}" target="_blank">
                        <h6 class="card-title">{{mission.missionname}}</h6>
                      </a>
                      <div class="card-text">
                        <p>開始日期：{{mission.missionstartdate | date: 'yyyy/MM/dd'}}</p>
                        <span>{{mission.missioncontent}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--雙數排-->
      <div *ngIf="Type.id % 2==0  && Type.id!=1">
        <div class="container mb-3 mt-5">
          <div class="row flex">
            <div class="col-md-10">
              <a class="title-titletext" [routerLink]="['/search']" [queryParams]="{ type:Type.id }" [ngClass]="{
                                'btn-orange': Type.missiontype == '影片任務',
                                'btn-purple': Type.missiontype == '旅遊任務',
                                'btn-green': Type.missiontype == '環保任務',
                                'btn-sky': Type.missiontype == '運動任務',
                                'btn-red': Type.missiontype == '美術任務'
                              }">{{Type.missiontype}}</a>
            </div>
            <div class="col-md-2 text-right pt-4">
              <a class="title-text" [routerLink]="['/search']" [queryParams]="{ type:Type.id }">More...</a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4" *ngFor="let mission of missions[Type.id-1] ; let i = index">
              <div class="card card-top" *ngIf="i<3">
                <a [routerLink]="['../mission/introduce']" [queryParams]="{id:mission.id}" target="_blank">
                  <img src="{{mission.missionpicture}}" class="img-thumbnail">
                </a>
                <div class="card-block">
                  <a [routerLink]="['../mission/introduce']" [queryParams]="{id:mission.id}" target="_blank">
                    <h6 class="card-title"> {{ mission.missionname }}</h6>
                  </a>
                  <div class="card-text">
                    <p>開始日期：{{mission.missionstartdate | date: 'yyyy/MM/dd'}}</p>
                    <span>地區：{{mission.missionlocation}}</span>
                    <span>{{mission.missioncontent}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--單數排-->
      <div *ngIf="(Type.id % 2==1) && Type.id!=1">
        <div class="container mb-3 mt-5">
          <div class="row flex">
            <div class="col-md-10">
              <a class="title-titletext " [routerLink]="['/search']" [queryParams]="{ type:Type.id }" [ngClass]="{
                                'btn-orange': Type.missiontype == '影片任務',
                                'btn-purple': Type.missiontype == '旅遊任務',
                                'btn-green': Type.missiontype == '環保任務',
                                'btn-sky': Type.missiontype == '運動任務',
                                'btn-red': Type.missiontype == '美術任務'
                              }">{{Type.missiontype}}</a>
            </div>
            <div class="col-md-2 text-right pt-4">
              <a class="title-text" [routerLink]="['/search']" [queryParams]="{ type:Type.id }">More...</a>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3" *ngFor="let mission of missions[Type.id-1] ; let i = index">
              <div class="card card-top" *ngIf="i<4">
                <a [routerLink]="['../mission/introduce']" [queryParams]="{id:mission.id}" target="_blank">
                  <img src="{{mission.missionpicture}}" class="img-thumbnail">
                </a>
                <div class="card-block">
                  <a [routerLink]="['../mission/introduce']" [queryParams]="{id:mission.id}" target="_blank">
                    <h6 class="card-title"> {{ mission.missionname }}</h6>
                  </a>
                  <div class="card-text">
                    <p>開始日期：{{mission.missionstartdate | date: 'yyyy/MM/dd'}}</p>
                    <span>地區：{{mission.missionlocation}}</span>
                    <span>{{mission.missioncontent}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<swal type="error" title="登入逾時，請重新登入" #dialogPassError [options]="{ timer : '1000' }"></swal>
