<div id="profile">


  <!-- <div class="text-center w-100" *ngIf="!isLoading && size <= 762">
    <a href="#" [routerLink]="['/user/point']">
      <button class="dropbtn w-50 f-white">任務點數</button>
    </a>
  </div> -->

  <nav class="navbar navbar-expand-md navbar-default bg-light table-responsive" *ngIf="!isLoading  && size > 763">
    <div class="container collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#" [routerLink]="['/user/profile']">個人資訊</a>
        </li>

        <li class="nav-item" *ngIf="userData.logingroup === 1">
          <a class="nav-link" href="#" [routerLink]="['/user/point']">任務點數</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container text-center mt-5" *ngIf="isLoading">
    <div class="loader">Loading...</div>
  </div>

  <div class="container" *ngIf="!isLoading">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="group-title">個人資訊</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="alert alert-info">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="userProfile.close()">×</button>

          <strong>貼心提醒：</strong> 務必注意資料的完整和正確性哦！
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 text-center">
        <div class="create-photo mx-auto">
          <div *ngIf="!userData.picture">
            <img src="http://fakeimg.pl/200x200/" alt="This is you." class="img-thumbnail">
          </div>

          <div *ngIf="userData.picture">
            <img [src]="userData.picture" alt="This is you." class="img-thumbnail">
          </div>

          <label class="btn upload-btn">
            <input id="upload_img" [hidden]="true" type="file" accept="image/*" data-toggle="modal" (change)="fileChangeListener($event)"
              data-target="#changephoto" /> 上傳圖片
          </label>
        </div>

        <label>※大小為200*200</label>
      </div>

      <div class="col-lg-8">
        <form>
          <div class="form-group row">
            <label for="inputUsername" class="col-sm-2 col-form-label">我的帳號：</label>

            <div class="col-sm-10">
              <input type="text" readonly="readonly" class="form-control" name="inputUsername" [(ngModel)]="userData.username" />
            </div>
          </div>

          <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">登入密碼：</label>

            <div class="col-sm-10">
              <input type="password" class="form-control" placeholder="請輸入密碼" name="inputPassword" [(ngModel)]="userData.password" />
            </div>
          </div>

          <div class="form-group row">
            <label for="checkPassword" class="col-sm-2 col-form-label">密碼確認：</label>

            <div class="col-sm-10">
              <input type="password" class="form-control" placeholder="請輸入密碼確認" name="checkPassword" [(ngModel)]="passwordCheck" />
            </div>
          </div>

          <div class="form-group row">
            <label for="inputName" class="col-sm-2 col-form-label">姓名：</label>

            <div class="col-sm-10">
              <input type="text" class="form-control" name="inputName" [(ngModel)]="userData.name" />
            </div>
          </div>

          <div class="form-group row">
            <label for="inputTel" class="col-sm-2 col-form-label">聯絡電話：</label>

            <div class="col-sm-10">
              <input type="text" class="form-control" name="inputTel" [(ngModel)]="userData.tel" />
            </div>
          </div>

          <div class="form-group row">
            <label for="inputEmail" class="col-sm-2 col-form-label">電子信箱：</label>

            <div class="col-sm-10">
              <input type="text" class="form-control" name="inputEmail" [(ngModel)]="userData.email" />
            </div>
          </div>

          <div class="form-group row">
            <label for="inputGroup" class="col-sm-2 col-form-label">歸屬單位：</label>

            <div class="col-sm-10">
              <input type="text" class="form-control" name="inputGroup" [(ngModel)]="userGroupName" readonly="readonly" />
            </div>
          </div>

          <div *ngIf="userData.school != undefined" class="form-group row">
            <label for="inputSchool" class="col-sm-2 col-form-label">學校：</label>

            <div class="col-sm-10">
              <input type="text" class="form-control" name="inputSchool" [(ngModel)]="userData.school" />
            </div>
          </div>

          <div *ngIf="userData.studentid != undefined" class="form-group row">
            <label for="inputStudentId" class="col-sm-2 col-form-label">學號：</label>

            <div class="col-sm-10">
              <input type="text" class="form-control" name="inputStudentId" [(ngModel)]="userData.studentid" />
            </div>
          </div>

          <div class="form-group pull-right" *ngIf="size > 763">
            <button type="submit" class="btn btn-info bg-info" (click)="saveUserInformation()">儲存</button>
          </div>

          <div class="form-group row text-center" *ngIf="size <= 762">
            <div class="col-sm-12">
              <button class="col-sm-12 btn btn-info bg-info" type="submit">儲存</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <swal #dialogSuccess title="儲存成功" type="success" [options]="{ timer : '1000' }"></swal>
  <swal #dialogError title="儲存失敗" type="error"></swal>
  <swal #dialogErrorCheck title="資料沒有填完整唷！" type="error"></swal>
  <swal #noPermission title="抱歉，您無權訪問這頁面" type="error"></swal>
</div>

<div id="changephoto" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="changephoto" aria-hidden="true">
  <div class="modal-dialog h-100" role="document">
    <div class="modal-content pl-2 pr-2">
      <div class="modal-header">
        <h5>
          <i class="fa fa-undo mr-2" aria-hidden="true"></i>修改大頭貼</h5>
      </div>
      <div class="modal-body text-center">
        <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
      </div>

      <div class="modal-footer w-100">
        <button type="submit" class="btn btn-primary mr-3 send" (click)="readUrl(data.image)">送出</button>
        <button #modelClose type="submit" class="btn btn-secondary  send" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>

<swal type="error" title="登入逾時，請重新登入" #dialogPassError [options]="{ timer : '1000' }"></swal>
