<div id="tcreate">
  <div class="text-center w-100" *ngIf="!isLoading && size < 768">
    <div class="dropdown container-fluid mt-2">
      <div class="dropbtn w-100">
        心得管理
      </div>
      <div class="dropdown-content w-100 fade-in">
        <ul class="navbar-nav">
          <li class="nav-item" [ngClass]="{ 'active': tab == 0 }">
            <a class="nav-link" (click)="tab = 0">心得列表
              <span class="text-danger">({{ datas.length }})</span>
            </a>
          </li>
          <li class="nav-item" [ngClass]="{ 'active': tab == 1 }">
            <a class="nav-link" (click)="tab = 1">待審核
              <span class="text-danger">({{ unauditeddatas.length }})</span>
            </a>
          </li>
          <li class="nav-item" [ngClass]="{ 'active': tab == 2 }">
            <a class="nav-link" (click)="tab = 2">轉退回
              <span class="text-danger">({{ turnbackdatas.length }})</span>
            </a>
          </li>
          <li class="nav-item" [ngClass]="{ 'active': tab == 3 }">
            <a class="nav-link" (click)="tab = 3">已審核
              <span class="text-danger">({{ auditeddatas.length }})</span>
            </a>
          </li>
          <li class="nav-item" [ngClass]="{ 'active': tab == 4 }">
            <a class="nav-link" (click)="tab = 4">已發送
              <span class="text-danger">({{ sentdatas.length }})</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-md navbar-default bg-light table-responsive" *ngIf="!isLoading && size >= 768">
    <div class="container collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item" [ngClass]="{ 'active': tab == 0 }">
          <a class="nav-link" (click)="tab = 0">心得列表
            <span class="text-danger">({{ datas.length }})</span>
          </a>
        </li>
        <li class="nav-item" [ngClass]="{ 'active': tab == 1 }">
          <a class="nav-link" (click)="tab = 1">待審核
            <span class="text-danger">({{ unauditeddatas.length }})</span>
          </a>
        </li>
        <li class="nav-item" [ngClass]="{ 'active': tab == 2 }">
          <a class="nav-link" (click)="tab = 2">轉退回
            <span class="text-danger">({{ turnbackdatas.length }})</span>
          </a>
        </li>
        <li class="nav-item" [ngClass]="{ 'active': tab == 3 }">
          <a class="nav-link" (click)="tab = 3">已審核
            <span class="text-danger">({{ auditeddatas.length }})</span>
          </a>
        </li>
        <li class="nav-item" [ngClass]="{ 'active': tab == 4 }">
          <a class="nav-link" (click)="tab = 4">已發送
            <span class="text-danger">({{ sentdatas.length }})</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container text-center mt-5" *ngIf="isLoading">
    <div class="loader">Loading...</div>
  </div>
  <div *ngIf="!isLoading">
    <!-- Mission-Create -->
    <div class="container-fluid pt-4 pb-4" *ngIf="tab == 0">
      <div class="row justify-content-center" *ngIf="datas.length === 0">
        <div class="col-md-3 text-center mt-3">
          <i class="fa fa-search fa-2x" aria-hidden="true"></i>
          <span class="data-set"> 尚無資料</span>
        </div>
      </div>
      <div class="card mb-2" *ngIf="datas.length !== 0">
        <div class="card-footer small text-muted">
          共 {{ datas.length }} 筆資料

        </div>
        <div class="card-body table-responsive">
          <table class="table table-striped table-border table-button text-center">
            <thead>
              <tr>
                <th>#</th>
                <th>任務類別</th>
                <th>學童帳號</th>
                <th class="text-left">任務名稱</th>
                <th>點數獎勵</th>
                <th>任務狀態</th>
                <th>提交時間</th>
                <th>建立日期</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="isLoading">
                <td colspan="9">
                  <div class="loader">Loading...</div>
                </td>
              </tr>
              <tr *ngFor="let data of datas | paginate: { itemsPerPage: 10, currentPage: page } ; let i = index">
                <th scope="row">{{ i + ( page - 1 ) * 10 + 1 }}</th>
                <td>
                  <span class="badge p-2" [ngClass]="{
                                      'btn-orange': data.missiontype2 == '影片任務',
                                      'btn-blue': data.missiontype2 == '展演任務',
                                      'btn-purple': data.missiontype2 == '旅遊任務',
                                      'btn-green': data.missiontype2 == '環保任務',
                                      'btn-sky': data.missiontype2 == '運動任務',
                                      'btn-red': data.missiontype2 == '美術任務'
                      }">{{ data.missiontype2 }}</span>
                </td>
                <td>{{ data.studentusername }}</td>
                <td class="text-left">
                  <a href="#" target="_blank" [routerLink]="['/mission/introduce']" [queryParams]="{id:data.missionid}">{{ data.missionname }}</a>
                </td>
                <td>
                  <span class="btn-circle">{{ data.missionpoint }}</span>
                </td>
                <td>{{data.status}}</td>
                <td>{{data.submittime | date: 'yyyy/MM/dd HH:mm:ss'}}</td>
                <td>{{ data.missioncreatedate | date: 'yyyy/MM/dd' }}</td>
                <td class="text-right">
                  <button class="btn btn-primary mr-2" type="button" (click)="correctMission(data.missionid, data.missiontype, data.studentusername)">心得</button>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="card-footer small text-muted">
          <div class="has-text-centered text-center">
            <pagination-controls maxSize="5" (pageChange)="page = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>


    <!-- Mission-Verify -->
    <div class="container-fluid pt-4 pb-4" *ngIf="tab == 1">
      <div class="row justify-content-center" *ngIf="unauditeddatas.length === 0">
        <div class="col-md-3 text-center mt-3">
          <i class="fa fa-search fa-2x" aria-hidden="true"></i>
          <span class="data-set"> 尚無資料</span>
        </div>
      </div>
      <div class="card mb-2" *ngIf="unauditeddatas.length !== 0">
        <div class="card-footer small text-muted">
          共 {{ unauditeddatas.length }} 筆資料
        </div>
        <div class="card-body table-responsive">
          <table class="table table-striped table-border table-button text-center">
            <thead>
              <tr>
                <th>#</th>
                <th>任務類別</th>
                <th>學童帳號</th>
                <th class="text-left">任務名稱</th>
                <th>點數獎勵</th>
                <th>提交時間</th>
                <th>建立日期</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="isLoading">
                <td colspan="9">
                  <div class="loader">Loading...</div>
                </td>
              </tr>
              <tr *ngFor="let data of unauditeddatas | paginate: { itemsPerPage: 10, currentPage: page } ; let i = index">
                <th scope="row">{{ i + ( page - 1 ) * 10 + 1 }}</th>
                <td>
                  <span class="badge p-2" [ngClass]="{
                                      'btn-orange': data.missiontype2 == '影片任務',
                                      'btn-blue': data.missiontype2 == '展演任務',
                                      'btn-purple': data.missiontype2 == '旅遊任務',
                                      'btn-green': data.missiontype2 == '環保任務',
                                      'btn-sky': data.missiontype2 == '運動任務',
                                      'btn-red': data.missiontype2 == '美術任務'
                                }">{{ data.missiontype2 }}</span>
                </td>
                <td>{{ data.studentusername }}</td>
                <td class="text-left">
                  <a href="#" target="_blank" [routerLink]="['/mission/introduce']" [queryParams]="{id:data.missionid}">{{ data.missionname }}</a>
                </td>
                <td>
                  <span class="btn-circle">{{ data.missionpoint }}</span>
                </td>
                <td>{{ data.submittime | date: 'yyyy/MM/dd hh:mm:ss' }}</td>
                <td>{{ data.missioncreatedate | date: 'yyyy/MM/dd' }}</td>
                <td class="text-right">
                  <swal type="question" title="確定要通過？" #dialogPass [options]="{ showCancelButton: 'true' }" (confirm)="PassMission(data.missionid, data.studentusername)"></swal>
                  <swal type="success" title="已審核完成" #dialogPassSuccess [options]="{ timer : '1000' }"></swal>
                  <swal type="error" title="審核錯誤，請洽系統管理員" #dialogPassError [options]="{ timer : '1000' }"></swal>
                  <swal type="question" title="確定要退回？" #dialogReject [options]="{ showCancelButton: 'true' }" (confirm)="RejectMission(data.missionid, data.studentusername)"></swal>
                  <swal type="success" title="已退回心得" #dialogRejectSuccess [options]="{ timer : '1000' }"></swal>
                  <swal type="error" title="退回錯誤，請洽系統管理員" #dialogRejectError [options]="{ timer : '1000' }"></swal>
                  <button class="btn btn-primary mr-2" type="button" (click)="correctMission(data.missionid, data.missiontype, data.studentusername)">心得</button>
                  <!-- <button class="btn btn-success mr-2" type="button" (click)="dialogPass.show()">認可</button>
                                  <button class="btn btn-secondary mr-2" type="button" (click)="dialogReject.show()">退回</button> -->
                </td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="card-footer small text-muted">
          <div class="has-text-centered text-center">
            <pagination-controls maxSize="5" (pageChange)="page = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>



    <!-- Mission-Reject -->
    <div class="container-fluid pt-4 pb-4" *ngIf="tab == 2">
      <div class="row justify-content-center" *ngIf="turnbackdatas.length === 0">
        <div class="col-md-3 text-center mt-3">
          <i class="fa fa-search fa-2x" aria-hidden="true"></i>
          <span class="data-set"> 尚無資料</span>
        </div>
      </div>
      <div class="card mb-2" *ngIf="turnbackdatas.length !== 0">

        <div class="card-footer small text-muted">
          共 {{ turnbackdatas.length }} 筆資料
        </div>
        <div class="card-body table-responsive">
          <table class="table table-striped table-border table-button">
            <thead>
              <tr>
                <th>#</th>
                <th>任務類別</th>
                <th>學童帳號</th>
                <th class="text-left">任務名稱</th>
                <th>點數獎勵</th>
                <th>審核時間</th>
                <th>提交時間</th>
                <th>建立日期</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center" *ngIf="isLoading">
                <td colspan="9">
                  <div class="loader">Loading...</div>
                </td>
              </tr>
              <tr *ngFor="let data of turnbackdatas | paginate: { itemsPerPage: 10, currentPage: page } ; let i = index">

                <th scope="row">{{ i + ( page - 1 ) * 10 + 1 }}</th>
                <td>
                  <span class="badge p-2" [ngClass]="{
                                      'btn-orange': data.missiontype2 == '影片任務',
                                      'btn-blue': data.missiontype2 == '展演任務',
                                      'btn-purple': data.missiontype2 == '旅遊任務',
                                      'btn-green': data.missiontype2 == '環保任務',
                                      'btn-sky': data.missiontype2 == '運動任務',
                                      'btn-red': data.missiontype2 == '美術任務'
                                          }">{{ data.missiontype2 }}</span>
                </td>
                <td>{{ data.studentusername }}</td>
                <td class="text-left">
                  <a href="#" target="_blank" [routerLink]="['/mission/introduce']" [queryParams]="{id:data.missionid}">{{ data.missionname }}</a>
                </td>
                <td>
                  <span class="btn-circle">{{ data.missionpoint }}</span>
                </td>
                <td>{{ data.verifytime | date: 'yyyy/MM/dd hh:mm:ss' }}</td>
                <td>{{ data.submittime | date: 'yyyy/MM/dd hh:mm:ss' }}</td>
                <td>{{ data.missioncreatedate | date: 'yyyy/MM/dd' }}</td>
                <td>
                  <swal type="question" title="要還原成待審？" #dialogRevert [options]="{ showCancelButton: 'true' }" (confirm)="RevertMission(data.missionid, data.studentusername)"></swal>
                  <swal type="success" title="已還原完成" #dialogRevertSuccess [options]="{ timer : '1000' }"></swal>
                  <swal type="error" title="還原錯誤，請洽系統管理員" #dialogRevertError [options]="{ timer : '1000' }"></swal>
                  <button class="btn btn-primary mr-2" type="button" (click)="correctMission(data.missionid, data.missiontype, data.studentusername)">心得</button>
                  <!-- <button class="btn btn-secondary mr-2" type="button" (click)="dialogRevert.show()">還原</button> -->
                </td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="card-footer small text-muted">
          <div class="has-text-centered text-center">
            <pagination-controls maxSize="5" (pageChange)="page = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>


    <!-- Mission-Finish -->
    <div class="container-fluid pt-4 pb-4" *ngIf="tab == 3">
      <div class="row justify-content-center" *ngIf="auditeddatas.length === 0">
        <div class="col-md-3 text-center mt-3">
          <i class="fa fa-search fa-2x" aria-hidden="true"></i>
          <span class="data-set"> 尚無資料</span>
        </div>
      </div>
      <div class="card mb-2" *ngIf="auditeddatas.length !== 0">

        <div class="card-footer small text-muted">
          共 {{ auditeddatas.length }} 筆資料

        </div>
        <div class="card-body table-responsive">
          <table class="table table-striped table-border table-button text-center">
            <thead>
              <tr>
                <th>#</th>
                <th>任務類別</th>
                <th>學童帳號</th>
                <th class="text-left">任務名稱</th>
                <th>點數獎勵</th>
                <th>審核時間</th>
                <th>提交時間</th>
                <th>建立日期</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center" *ngIf="isLoading">
                <td colspan="9">
                  <div class="loader">Loading...</div>
                </td>
              </tr>
              <tr *ngFor="let data of auditeddatas | paginate: { itemsPerPage: 10, currentPage: page } ; let i = index">
                <th scope="row">{{ i + ( page - 1 ) * 10 + 1 }}</th>
                <td>
                  <span class="badge p-2" [ngClass]="{
                                      'btn-orange': data.missiontype2 == '影片任務',
                                      'btn-blue': data.missiontype2 == '展演任務',
                                      'btn-purple': data.missiontype2 == '旅遊任務',
                                      'btn-green': data.missiontype2 == '環保任務',
                                      'btn-sky': data.missiontype2 == '運動任務',
                                      'btn-red': data.missiontype2 == '美術任務'
                                    }">{{ data.missiontype2 }}</span>
                </td>
                <td>{{ data.studentusername }}</td>
                <td class="text-left">
                  <a href="#" target="_blank" [routerLink]="['/mission/introduce']" [queryParams]="{id:data.missionid}">{{ data.missionname }}</a>
                </td>
                <td>
                  <span class="btn-circle">{{ data.missionpoint }}</span>
                </td>
                <td>{{ data.verifytime | date: 'yyyy/MM/dd hh:mm:ss' }}</td>
                <td>{{ data.submittime | date: 'yyyy/MM/dd hh:mm:ss' }}</td>
                <td>{{ data.missioncreatedate | date: 'yyyy/MM/dd' }}</td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="card-footer small text-muted">
          <div class="has-text-centered text-center">
            <pagination-controls maxSize="5" (pageChange)="page = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>

    <!-- sent -->
    <div class="container-fluid pt-4 pb-4" *ngIf="tab == 4">
      <div class="row justify-content-center" *ngIf="sentdatas.length === 0">
        <div class="col-md-3 text-center mt-3">
          <i class="fa fa-search fa-2x" aria-hidden="true"></i>
          <span class="data-set"> 尚無資料</span>
        </div>
      </div>
      <div class="card mb-2" *ngIf="sentdatas.length !== 0">

        <div class="card-footer small text-muted">
          共 {{ sentdatas.length }} 筆資料

        </div>
        <div class="card-body table-responsive">
          <table class="table table-striped table-border table-button text-center">
            <thead>
              <tr>
                <th>#</th>
                <th>任務類別</th>
                <th>學童帳號</th>
                <th class="text-left">任務名稱</th>
                <th>點數獎勵</th>
                <th>發送時間</th>
                <th>提交時間</th>
                <th>建立日期</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center" *ngIf="isLoading">
                <td colspan="9">
                  <div class="loader">Loading...</div>
                </td>
              </tr>
              <tr *ngFor="let data of sentdatas | paginate: { itemsPerPage: 10, currentPage: page } ; let i = index">
                <th scope="row">{{ i + ( page - 1 ) * 10 + 1 }}</th>
                <td>
                  <span class="badge p-2" [ngClass]="{
                                          'btn-orange': data.missiontype2 == '影片任務',
                                          'btn-blue': data.missiontype2 == '展演任務',
                                          'btn-purple': data.missiontype2 == '旅遊任務',
                                          'btn-green': data.missiontype2 == '環保任務',
                                          'btn-sky': data.missiontype2 == '運動任務',
                                          'btn-red': data.missiontype2 == '美術任務'
                                        }">{{ data.missiontype2 }}</span>
                </td>
                <td>{{ data.studentusername }}</td>
                <td class="text-left">
                  <a href="#" target="_blank" [routerLink]="['/mission/introduce']" [queryParams]="{id:data.missionid}">{{ data.missionname }}</a>
                </td>
                <td>
                  <span class="btn-circle">{{ data.missionpoint }}</span>
                </td>
                <td>{{ data.sendtime | date: 'yyyy/MM/dd hh:mm:ss' }}</td>
                <td>{{ data.submittime | date: 'yyyy/MM/dd hh:mm:ss' }}</td>
                <td>{{ data.missioncreatedate | date: 'yyyy/MM/dd' }}</td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="card-footer small text-muted">
          <div class="has-text-centered text-center">
            <pagination-controls maxSize="5" (pageChange)="page = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<swal type="error" title="登入逾時，請重新登入" #dialogPassError2 [options]="{ timer : '1000' }"></swal>
