<div *ngIf="checkPunchin()">
    <app-nav></app-nav>
</div>

<router-outlet></router-outlet>

<label *ngIf="isScrolled" class="scroll-to-top rounded btn-outline-primary" (click)="scrolltop()">
    <i class="fa fa-chevron-up fa-2x"></i>
</label>
<div *ngIf="checkPunchin()">
    <app-footer></app-footer>
</div>