<div id="punchinstatus">
  <div class="container">
    <div class="row bg-white bod">
      <div class="col-12 bg-primary title-hei text-center rau-top">
        <h3>天使計劃 iShare</h3>
      </div>
      <div class="col-12 text-center">
        <h1 class="p-4 pt-5">{{missions.missionname}}</h1>
        <h2 class="pt-4 ml-2">簽到成功</h2>
      </div>
      <div class="col-12 pt-5">
        <h5>
          <i class="fa fa-lg fa-clock-o mr-2 mb-2 ml-3"></i>簽到時間：{{signaturedate}}</h5>
        <h5>
          <i class="fa fa-lg fa-user mr-2 ml-02 mb-2"></i>學童名稱：{{name}}</h5>
        <div class="h-150">
          <br>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary btn-lg btn-block rau-bottom" (click)="goDetail()">查看任務</button>
        </div>

      </div>

    </div>
  </div>

</div>
